h1 {
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #BA8D00;
  font-size: 50px;
  padding-top: 100px;
  padding-bottom: 25px;
}

h2 {
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #F4BC0B;
  font-size: 50px;
  padding-top: 100px;
  padding-bottom: 25px;
}

h3 {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #BA8D00;
  font-size: 20px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #414141;
  font-size: 20px;
  text-align: justify;
}

footer {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #414141;
  font-size: 10px;
  padding-top: 100px;
  padding-bottom: 50px;
}

section {
  margin-top: 100px;
  padding-bottom: 100px;
}

button {
  margin-top: 20px;
}

#logo-rodape {
  padding-bottom: 40px;
}

#text-rodape{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #414141;
  font-size: 12px;
  text-align: center;
}

#invert {
  background-color: #414141;
}

#text-invert {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #fff;
  font-size: 20px;
  padding-bottom: 50px;
}

#bt-amarelo {
  background-color: #F4BC0B;
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #414141;
  border: none;
}

#bt-amarelo-escuro {
  background-color: #BA8D00;
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #fff;
  border: none;
}



.navbar-nav {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #414141;
}

.form-group {
  text-align: center;
}
