/****** Geral *********/

.navbar {
  box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.3);
}

.navbar-nav {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #414141;
}

.navbar-collapse {
  text-align: center;
}

h1 {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 50px;
  margin: 100px 0 50px 0;
}

h2 {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 40px;
}

h3 {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 30px;
}

h4 {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 20px;
}

p, span, label, input, textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

footer {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #414141;
  font-size: 10px;
  padding-top: 100px;
  padding-bottom: 50px;
}

a:link {
    text-decoration: none;
    color: #BA8D00;
}

a:visited {
    text-decoration: none;
    color: #BA8D00;
}

a:hover {
    text-decoration: none;
    color: #414141;
}

a:active {
    text-decoration: none;
    color: #BA8D00;
}

ul {
  list-style-type: none;
}

input {
  width: 100%;
}

.titulo-head {
  color: #BA8D00;
}

.titulo {
  color: #BA8D00;
}

.texto {
  text-align: justify;
  margin-bottom: 75px;
  color: #414141;
}

#invert {
  background-color: #414141;
  padding-bottom: 100px;
}

.titulo-invert {
  color: #F4BC0B;
}

.texto-invert {
  text-align: justify;
  margin-bottom: 75px;
  color: #fff;
}

.card {
  box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.2);
  text-align: center;
}

.card-title {
  color: #BA8D00;
}

.btn {
  font-family: 'Lora', serif;
  font-weight: 400;
}

.btn-primeiro {
  margin-top: 25px;
  background-color: #BA8D00;
  color: #fff;
  box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.3);
}

.btn-segundo {
  margin-top: 25px;
  background-color: #F4BC0B;
  color: #414141;
}

.logo-rodape {
  padding-bottom: 40px;
}

.text-rodape {
  font-size: 12px;
  text-align: center;
}

/****** Home *********/

.img-header {
  position: absolute;
}

.bt-publicacoes {
  background-color: #fff;
  position: relative;
  margin-top: 150px;
  padding: 30px;
  max-width: 700px;
  box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.3);
}

#conteudo-home {
  margin-top: 250px;
}

/****** Coleta *********/

#admin-form {
  background-color: #EAEAEA;
}

.titulo-pesquisa-list {
  background-color: #F0F0F0;
  margin-top: 25px;
  padding: 10px 30px 10px 10px;
}

.btn-terceiro {
  background-color: #fff;
  color: #414141;
  border: 1px solid #BA8D00;
  box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.3);
}

.control-label {
  text-align: left;
}

.form {
  text-align: left;
}

.bt-voltar {
  margin-bottom: 20px;
}
