{% load i18n %}
{% load staticfiles %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <!-- Título original
    <title>{% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %}</title>
    -->
    <title>Blog da Rede CEDES</title>
    <meta name="robots" content="follow, all" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% trans "Just another Zinnia weblog." %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}django, blog, weblog, zinnia{% endblock meta-keywords %}" />
    <meta name="author" content="Fantomas42" />
    {% block meta %}{% endblock meta %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="shortcut icon" href="{% static "zinnia/theme/img/favicon.ico" %}" />
    <link rel="home" href="{% url 'zinnia:entry_archive_index' %}" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/screen.css" %}" />
    <link rel="stylesheet" type="text/css" media="print" href="{% static "zinnia/theme/css/print.css" %}" />
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/ie.css" %}" />
    <![endif]-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Base CSS -->

    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}
  </head>

  <body>

    <!-- Base Menu -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="{% static 'img/logo-rede-cedes.png' %}" height="50" alt="Logo Rede CEDES">
      </a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog/">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/coleta/">Centros</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/accounts/logout/">Sair</a>
          </li>
          {% endif %}
          <!-- Menus Extras
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="{% static 'img/twitter-logo.svg' %}" height="30" alt="Logo Rede CEDES">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="{% static 'img/facebook-logo.svg' %}" height="30" alt="Logo Rede CEDES">
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container zinnia {% block theme-class %}default{% endblock theme-class %} {% block color-class %}yellow{% endblock color-class %} {% block sidebar-class %}right-sidebar{% endblock sidebar-class %} {% block body-class %}{% endblock body-class %}">
      <header id="header" role="banner">
        <nav>
          <ul class="top-navigation">
            <li>
              <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}" class="sitemap" rel="sitemap">
                {% trans "Sitemap" %}
              </a>
            </li>
            <li>
              <a href="{% url 'zinnia:entry_feed' %}" title="{% trans "RSS feed of last entries" %}" class="feeds">
                {% trans "RSS feed" %}
              </a>
            </li>
          </ul>
        </nav>
        <form method="get" action="{% url 'zinnia:entry_search' %}">
          <p>
            <input type="text" name="pattern" placeholder="{% trans "Keywords..." %}" {% if pattern %}value="{{ pattern }}"{% endif %} />
            <input type="submit" class="submitbutton" value="OK" />
          </p>
        </form>
        <h1>
          <a href="{% url 'zinnia:entry_archive_index' %}" title="Bslog da Rede CEDES" rel="home">
            | BLOG DA REDE CEDES
          </a>
        </h1>
        <blockquote>
          <p>{% trans "Desde 2003, produzindo e socializando informações e conhecimentos sobre Esporte recreativo e Lazer." %}</p>
        </blockquote>
        {% block breadcrumbs %}{% endblock breadcrumbs %}
      </header>
      {% block slider %}{% endblock slider %}
      <div id="content" class="hfeed" role="main">
        {% block content %}
        <div class="links">
          <h2>{% trans "Useful links" %}</h2>
          <ul>
            <li>
              <a href="{% url 'zinnia:entry_archive_index' %}" title="{% trans "Weblog index" %}">
                {% trans "Weblog index" %}
              </a>
            </li>
            <li>
              <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}">
                {% trans "Sitemap" %}
              </a>
            </li>
          </ul>
        </div>
        <div class="search">
          <h2>{% trans "Search" %}</h2>
          {% include "zinnia/tags/search_form.html" %}
        </div>
        {% endblock content %}
      </div>
      <div id="sidebar" role="complementary">
        {% block sidebar %}
        {% endblock sidebar %}
      </div>

      <footer id="footer" role="contentinfo">
        <div class="container">
          <div class="row">
            <div class="col-12 logo-rodape">
              <img src="{% static 'img/logo-rodape.png' %}" height="50" alt="Logo Rede CEDES">
            </div>
            <div class="col-12">
              <p class="text-rodape">O conteúdo publicado no site redecedes.gov.br está licenciado com a Licença Creative Commons.</p>
              <p class="text-rodape">Desenvolvido por <strong>Renan Fonsceca e Rodrigo Ferrari</strong></p>
            </div>
          </div>
        </div>
      </footer>

    </div>



    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
