{% load static %}
<html lang="pt-br">
  <head>
    <title>{% block title %}Título da Página{% endblock %}</title>
    <!-- Required meta tags -->
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <meta name="keywords" content="{% block palavraschaves %}{% endblock %}">
    <meta name="author" content="Rodrigo Ferrari">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Base CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
    <!-- MapBox -->
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'>
    </script>
  </head>
  <body>
    <!-- Base Menu -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="{% static 'img/logo-rede-cedes.png' %}" height="50" alt="Logo Rede CEDES">
      </a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog/">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/coleta/">Centros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/login/">Entrar</a>
          </li>
          <!-- Menus Extras
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="{% static 'img/twitter-logo.svg' %}" height="30" alt="Logo Rede CEDES">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="{% static 'img/facebook-logo.svg' %}" height="30" alt="Logo Rede CEDES">
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Conteúdos -->
    {% block content %}
    {% endblock content %}
    <!-- Rodapé Base -->

      <!-- Contato -->
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="titulo">| CONTATO REDE CEDES</h1>
            </div>
            <!-- Mapas ME -->
            <div class="col-lg-6">
              <img src="{% static 'img/contato-brasilia.jpg' %}" class="img-fluid" alt="Brasília">
              <!--<div id='map-contato'>
              </div>
              <script>
              mapboxgl.accessToken = 'pk.eyJ1IjoicmRmZXJyYXJpIiwiYSI6ImNpcDQ4Nm12YjAwNnJsZ20zOXdmc29obmcifQ.Shb8a3P1XAV8cPWR1yGDTA';
              var map = new mapboxgl.Map({
                container: 'map-contato', // container id
                style: 'mapbox://styles/rdferrari/cjdaho14a56e92spkkw4clu90', // stylesheet location
                center: [-47.9124508, -15.7876598], // starting position [lng, lat]
                zoom: 15, // starting zoom
                pitch: 45,
                bearing: -17.6,
                hash: true
              });

              // The 'building' layer in the mapbox-streets vector source contains building-height
              // data from OpenStreetMap.
              map.on('load', function() {
                  // Insert the layer beneath any symbol layer.
                  var layers = map.getStyle().layers;

                  var labelLayerId;
                  for (var i = 0; i < layers.length; i++) {
                      if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
                          labelLayerId = layers[i].id;
                          break;
                      }
                  }

                  map.addLayer({
                      'id': '3d-buildings',
                      'source': 'composite',
                      'source-layer': 'building',
                      'filter': ['==', 'extrude', 'true'],
                      'type': 'fill-extrusion',
                      'minzoom': 15,
                      'paint': {
                          'fill-extrusion-color': '#aaa',

                          // use an 'interpolate' expression to add a smooth transition effect to the
                          // buildings as the user zooms in
                          'fill-extrusion-height': [
                              "interpolate", ["linear"], ["zoom"],
                              15, 0,
                              15.05, ["get", "height"]
                          ],
                          'fill-extrusion-base': [
                              "interpolate", ["linear"], ["zoom"],
                              15, 0,
                              15.05, ["get", "min_height"]
                          ],
                          'fill-extrusion-opacity': .6
                      }
                  }, labelLayerId);
              });
              </script>-->
            </div>
            <!-- Contato -->
            <div class="col-lg-6">
              <h3 class="titulo">Endereço Ministério do Esporte</h3>
              <p>SHCS 04 Centro Empresarial Capital Financial Center 83 - Brasília, DF, 70297-400.</p>
              <h3 class="titulo">Telefone</h3>
              <p>+55 (61) 3217 1800</p>
              <p>* A Rede CEDES é um Programa da Secretaria Nacional de Esporte, Educação, Lazer e Inclusão Social.</p>
            </div>


  <footer>
    <div class="container">
      <div class="row">
          <div class="col-12 logo-rodape">
            <img src="{% static 'img/logo-rodape.png' %}" height="50" alt="Logo Rede CEDES">
          </div>
          <div class="col-12">
            <p class="text-rodape">O conteúdo publicado no site redecedes.gov.br está licenciado com a Licença Creative Commons.</p>
            <p class="text-rodape">Desenvolvido por <strong>Renan Fonsceca e Rodrigo Ferrari</strong></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
