{% load static %}
<html lang="pt-br">
  <head>
    <title>{% block title %}Título da Página{% endblock %}</title>
    <!-- Required meta tags -->
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <meta name="keywords" content="{% block palavraschaves %}{% endblock %}">
    <meta name="author" content="Rodrigo Ferrari">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Base CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
    <!-- MapBox -->
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'>
    </script>
  </head>
  <body>
    <!-- Base Menu -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="{% static 'img/logo-rede-cedes.png' %}" height="50" alt="Logo Rede CEDES">
      </a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog/">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/coleta/">Centros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/logout/">Sair</a>
          </li>
          <!-- Menus Extras
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="{% static 'img/twitter-logo.svg' %}" height="30" alt="Logo Rede CEDES">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="{% static 'img/facebook-logo.svg' %}" height="30" alt="Logo Rede CEDES">
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="titulo-coleta">{% block title-coleta %}{% endblock %}</h2>
        </p><a href="/coleta/">[ Voltar ]</a></p>
        </div>

    <!-- Conteúdos -->
    {% block content %}
    {% endblock content %}
    <!-- Rodapé Base -->


    <div class="col-lg-4">
      <div id="coleta-menu-lateral" class="row">
      <div id="coleta-menu-card" class="col-6">
        <div  class="card">
          <img class="img-fluid" src="{% static 'coleta/1-estrutura.svg' %}">
          <div class="card-block">
            <h5>Estrutura Física</h5>
          </p><a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/estrutura/update/">Atualizar</a></p>
          </div>
        </div>
      </div>
      <div id="coleta-menu-card" class="col-6">
        <div class="card">
          <img class="img-fluid" src="{% static 'coleta/2-pesquisa.svg' %}">
            <div class="card-block">
              <h5>Pesquisas</h5>
              </p><a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/pesquisa/list/">[ Lista ]</a>  <a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/pesquisa/add/">[ Adicionar ]</a></p>
            </div>
        </div>
      </div>
      <div id="coleta-menu-card" class="col-6">
        <div class="card">
          <img class="img-fluid" src="{% static 'coleta/3-evento.svg' %}">
            <div class="card-block">
              <h5>Eventos</h5>
              </p><a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/evento/list/">[ Lista ]</a>  <a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/evento/add/">[ Adicionar ]</a></p>
            </div>
        </div>
      </div>
      <div id="coleta-menu-card" class="col-6">
        <div class="card">
          <img class="img-fluid" src="{% static 'coleta/4-publicacao.svg' %}">
            <div class="card-block">
              <h5>Publicações</h5>
              </p><a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/publicacao/list/">[ Lista ]</a>  <a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/publicacao/add/">[ Adicionar ]</a></p>
            </div>
        </div>
      </div>
      <div id="coleta-menu-card" class="col-6">
        <div class="card">
          <img class="img-fluid" src="{% static 'coleta/5-difusao.svg' %}">
            <div class="card-block">
              <h5>Difusões</h5>
              </p><a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/difusao/list/">[ Lista ]</a>  <a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/difusao/add/">[ Adicionar ]</a></p>
            </div>
        </div>
      </div>
      <div id="coleta-menu-card" class="col-6">
        <div class="card">
          <img class="img-fluid" src="{% static 'coleta/6-formacao.svg' %}">
            <div class="card-block">
              <h5>Formações</h5>
              </p><a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/formacao/list/">[ Lista ]</a>  <a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/formacao/add/">[ Adicionar ]</a></p>
            </div>
        </div>
      </div>
      <div id="coleta-menu-card" class="col-6">
        <div class="card">
          <img class="img-fluid" src="{% static 'coleta/7-orientacao.svg' %}">
            <div class="card-block">
              <h5>Orientações</h5>
              </p><a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/orientacao/list/">[ Lista ]</a>  <a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/orientacao/add/">[ Adicionar ]</a></p>
            </div>
        </div>
      </div>
      <div id="coleta-menu-card" class="col-6">
        <div class="card">
          <img class="img-fluid" src="{% static 'coleta/8-intercambio.svg' %}">
            <div class="card-block">
              <h5>Intercâmbios</h5>
              </p><a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/intercambio/list/">[ Lista ]</a>  <a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/intercambio/add/">[ Adicionar ]</a></p>
            </div>
        </div>
      </div>
      <div id="coleta-menu-card" class="col-6">
        <div class="card">
          <img class="img-fluid" src="{% static 'coleta/9-intervencao.svg' %}">
            <div class="card-block">
              <h5>Intervenções</h5>
              </p><a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/intervencao/list/">[ Lista ]</a>  <a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/intervencao/add/">[ Adicionar ]</a></p>
            </div>
        </div>
      </div>
      <div id="coleta-menu-card" class="col-6">
        <div class="card">
          <img class="img-fluid" src="{% static 'coleta/10-memoria.svg' %}">
            <div class="card-block">
              <h5>Memória</h5>
              </p><a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/centromemoria/update/">[ Atualizar ]</a></p>
            </div>
        </div>
      </div>

    </div>
  </div>



    </div>
    </div>

    <!-- Contato -->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="titulo">| CONTATO REDE CEDES</h1>
          </div>
          <div class="col-lg-6">
            <img src="{% static 'img/contato-brasilia.jpg' %}" class="img-fluid" alt="Brasília">
          </div>
          <div class="col-lg-6">
            <h3 class="titulo">Endereço Ministério do Esporte</h3>
            <p>SHCS 04 Centro Empresarial Capital Financial Center 83 - Brasília, DF, 70297-400.</p>
            <h3 class="titulo">Telefone</h3>
            <p>+55 (61) 3217 1800</p>
            <p>* A Rede CEDES é um Programa da Secretaria Nacional de Esporte, Educação, Lazer e Inclusão Social.</p>
          </div>


<footer>
  <div class="container">
    <div class="row">
        <div class="col-12 logo-rodape">
          <img src="{% static 'img/logo-rodape.png' %}" height="50" alt="Logo Rede CEDES">
        </div>
        <div class="col-12">
          <p class="text-rodape">O conteúdo publicado no site redecedes.gov.br está licenciado com a Licença Creative Commons.</p>
          <p class="text-rodape">Desenvolvido por <strong>Renan Fonsceca e Rodrigo Ferrari</strong></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
