{% extends 'coleta/base-coleta-2.html' %}
{% block title %}Rede CEDES - Pesquisas{% endblock %}
{% block metadescription %}Política de gestão, publicização, monitoramento e avaliação da Rede CEDES{% endblock %}
{% block palavraschaves %}Rede CEDES, Esporte Recreativo, Lazer, Ministério do Esporte{% endblock %}
{% load static %}
{% block title-coleta %}LISTA DE PUBLICAÇÕES{% endblock %}


{% block content %}

    <div class="col-lg-8">
      <div class="card mb-3">
          <div class="card-block">

{% for pesquisa in object_list %}

              <a href="/coleta/pesquisa/{{ pesquisa.pk }}/update/"><h4 class="card-title">{{ pesquisa.titulo }}</h4></a>
              <p>{{ pesquisa.tipo }}</p>
              <a class="texto-pequeno" href="/coleta/pesquisa/{{ pesquisa.pk }}/update/">[ Editar ]</a>
              <a class="texto-pequeno" href="/coleta/pesquisa/{{ pesquisa.pk }}/delete/">[ Excluir ]</a>
            </div>

        </div>
      </div>

      {% empty %}

              <p>Não há pesquisas.</p>

      {% endfor %}

{% endblock %}
