{% extends 'coleta/base-coleta-2.html' %}
{% block title %}Rede CEDES - Eventos{% endblock %}
{% block metadescription %}Política de gestão, publicização, monitoramento e avaliação da Rede CEDES{% endblock %}
{% block palavraschaves %}Rede CEDES, Esporte Recreativo, Lazer, Ministério do Esporte{% endblock %}
{% load static %}
{% block title-coleta %}LISTA DE EVENTOS{% endblock %}


{% block content %}

<div class="col-lg-8">

{% for pesquisa in object_list %}

  <div class="card mb-3">
    <div class="card-block">
      <a href="/coleta/{{ centro }}/evento/{{ pesquisa.pk }}/update/"><h4 class="card-title">{{ pesquisa.nome }}</h4></a>
      <p>{{ pesquisa.tipo_human_readable }}</p>
      <a class="texto-pequeno" href="/coleta/{{ centro }}/evento/{{ pesquisa.pk }}/update/">[ Editar ]</a>
      <a class="texto-pequeno" href="/coleta/{{ centro }}/evento/{{ pesquisa.pk }}/delete/">[ Excluir ]</a>
    </div>
  </div>

{% empty %}

  <p>Não há eventos cadastradas. Deseja <a href="/coleta/{{centro}}/evento/add/">adicionar</a> um?</p>

{% endfor %}

</div>

{% endblock %}
