{% extends 'cedes/base.html' %}
{% block title %}Centros | Rede CEDES{% endblock %}
{% block metadescription %}Política de gestão, publicização, monitoramento e avaliação da Rede CEDES{% endblock %}
{% block palavraschaves %}Rede CEDES, Esporte Recreativo, Lazer, Ministério do Esporte{% endblock %}
{% block js %}{% endblock js %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="titulo">| CENTROS DA REDE CEDES</h1>
      <p>Sistema de coleta e atualizações dos dados dos CDPPEL para monitoramento e avaliação da Rede CEDES.</p>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/Acre.jpg' %}" alt="Acre">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Acre | Universidade Federal do Acre - UFAC</h5></a>
            </div>

        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/Alagoas.jpg' %}" alt="Alagoas">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Alagoas | Universidade Federal de Alagoas - UFAL</h5></a>
            </div>

        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/Amapa.jpg' %}" alt="Amapá">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Amapá | Universidade Federal do Amapá - UNIFAP</h5></a>
            </div>

        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/Amazonas.jpg' %}" alt="Amazonas">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Amazonas | Universidade Federal do Amazonas - UFAM</h5></a>
            </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/Bahia.jpg' %}" alt="Bahia">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Bahia | Universidade Federal da Bahia </h5></a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/Ceara.jpg' %}" alt="Ceará">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Ceará | Instituto Federal de Educação Ciência e Tecnologia do Ceará - IFCE</h5></a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/DistritoFederal.jpg' %}" alt="Distrito Federal">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Distrito Federal | Universidade de Brasília - UNB</h5></a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/EspiritoSanto.jpg' %}" alt="Espírito Santo">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Espírito Santo | Universidade Federal do Espírito Santo - UFES</h5></a>
            </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/Goias.jpg' %}" alt="Goiás">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Goiás | Universidade Federal de Goiás - UFG</h5></a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/Maranhao.jpg' %}" alt="Maranhão">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Maranhão | Fundação Universidade Federal do Maranhão - UFMA</h5></a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/MatoGrosso.jpg' %}" alt="Mato Grosso">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Mato Grosso | Funda Univ Estado do Mato Grosso - UNEMAT</h5></a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/MatoGrossoDoSul.jpg' %}" alt="Mato Grosso do Sul">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Mato Grosso do Sul | Universidade Federal do Mato Grosso do Sul - UFMS</h5></a>
            </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/MinasGerais.jpg' %}" alt="Minas Gerais">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Minas Gerais | Universidade Federal de Minas Gerais - UFMG</h5></a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/Para.jpg' %}" alt="Pará">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Pará | Universidade Federal do Pará - UFPA</h5></a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/Paraiba.jpg' %}" alt="Paraíba">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Paraíba | Universidade Estadual da Paraíba - UEPB</h5></a>
            </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/Parana.jpg' %}" alt="Paraná">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Paraná | Universidade Federal do Paraná - UFPR</h5></a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/Pernambuco.jpg' %}" alt="Pernambuco">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Pernambuco | Universidade Federal de Pernambuco - UFPE</h5></a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/Piaui.jpg' %}" alt="Piauí">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Piauí | Universidade Federal do Vale do São Francisco </h5></a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/RioDeJaneiro.jpg' %}" alt="Rio de Janeiro">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Rio de Janeiro | Universidade Federal do Rio de Janeiro - UFRJ</h5></a>
            </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/RioGrandeDoNorte.jpg' %}" alt="Rio Grande do Norte">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Rio Grande do Norte | Universidade Federal do Rio Grande do Norte</h5></a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/RioGrandeDoSul.jpg' %}" alt="Rio Grande do Sul">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Rio Grande do Sul | Universidade Federal do Rio Grande do Sul - UFRGS</h5></a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/Rondonia.jpg' %}" alt="Rondônia">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Rondônia | Universidade Federal de Rondônia - UFRO</h5></a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/Roraima.jpg' %}" alt="Roraima">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Roraima | Instituto Federal de Educação, Ciência e Tecnologia de Roraima - IFRR</h5></a>
            </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/SantaCatarina.jpg' %}" alt="Santa Catarina">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Santa Catarina | Universidade Federal de Santa Catarina - UFSC</h5></a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/SaoPaulo.jpg' %}" alt="São Paulo">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>São Paulo | Universidade Federal de São Paulo - UNIFESP</h5></a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/Sergipe.jpg' %}" alt="Sergipe">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Sergipe | Universidade Federal de Sergipe - UFS</h5></a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/Tocantins.jpg' %}" alt="Tocantins">
            <div class="card-block">
              <a href="/coleta/{{centro}}/"><h5>Tocantins | Fundação Universidade Federal do Tocantins - UFT</h5></a>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
