{% extends 'coleta/base-coleta.html' %}
{% block title %}Centros | Rede CEDES{% endblock %}
{% block metadescription %}Política de gestão, publicização, monitoramento e avaliação da Rede CEDES{% endblock %}
{% block palavraschaves %}Rede CEDES, Esporte Recreativo, Lazer, Ministério do Esporte{% endblock %}
{% block js %}{% endblock js %}
{% load static %}
{% block content %}

<div class="container">
  <div id="coleta-head" class="row">
    <div class="col-lg-6">
      <h2 class="titulo-coleta">{{nome_universidade}}</h2>
      <p>{{ request.user.first_name }}, bem vindo ao sistema de coleta e atualizações dos dados dos CDPPEL da {{nome_universidade}} para monitoramento e avaliação Nacional da Rede CEDES.</p>
    </div>
      <div class="col-lg-3 col-6">
        <div class="card mb-3">
          <img class="img-fluid" src="{% static 'coleta/1-estrutura.svg' %}">
          <div class="card-block">
            <h4>Estrutura Física</h4>
          </p><a href="/coleta/{{object.uf}}/estrutura/update/">[ Atualizar ]</a></p>
          </div>

        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="card mb-3">
          <img class="img-fluid" src="{% static 'coleta/2-pesquisa.svg' %}">
            <div class="card-block">
              <h4>Pesquisas</h4>
            </p><a href="/coleta/{{object.uf}}/pesquisa/list/">[ Lista ]</a>  <a href="/coleta/{{object.uf}}/pesquisa/add/">[ Adicionar ]</a></p>
            </div>
        </div>
      </div>
  </div>
      <div class="row">
      <div class="col-lg-3 col-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/3-evento.svg' %}">
            <div class="card-block">
              <h4>Eventos</h4>
            </p><a href="/coleta/{{object.uf}}/evento/list/">[ Lista ]</a>  <a href="/coleta/{{object.uf}}/evento/add/">[ Adicionar ]</a></p>
            </div>

        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/4-publicacao.svg' %}">
            <div class="card-block">
              <h4>Publicações</h4>
              </p><a href="/coleta/{{object.uf}}/publicacao/list/">[ Lista ]</a>  <a href="/coleta/{{object.uf}}/publicacao/add/">[ Adicionar ]</a></p>
            </div>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/5-difusao.svg' %}">
            <div class="card-block">
              <h4>Difusões</h4>
              </p><a href="/coleta/{{object.uf}}/difusao/list/">[ Lista ]</a>  <a href="/coleta/{{object.uf}}/difusao/add/">[ Adicionar ]</a></p>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/6-formacao.svg' %}">
            <div class="card-block">
              <h4>Formações</h4>
              </p><a href="/coleta/{{object.uf}}/formacao/list/">[ Lista ]</a>  <a href="/coleta/{{object.uf}}/formacao/add/">[ Adicionar ]</a></p>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/7-orientacao.svg' %}">
            <div class="card-block">
              <h4>Orientações</h4>
              </p><a href="/coleta/{{object.uf}}/orientacao/list/">[ Lista ]</a>  <a href="/coleta/{{object.uf}}/orientacao/add/">[ Adicionar ]</a></p>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/8-intercambio.svg' %}">
            <div class="card-block">
              <h4>Intercâmbios</h4>
              </p><a href="/coleta/{{object.uf}}/intercambio/list/">[ Lista ]</a>  <a href="/coleta/{{object.uf}}/intercambio/add/">[ Adicionar ]</a></p>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/9-intervencao.svg' %}">
            <div class="card-block">
              <h4>Intervenções</h4>
              </p><a href="/coleta/{{object.uf}}/intervencao/list/">[ Lista ]</a>  <a href="/coleta/{{object.uf}}/intervencao/add/">[ Adicionar ]</a></p>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{% static 'coleta/10-memoria.svg' %}">
            <div class="card-block">
              <h4>Centros de Memória</h4>
            </p><a href="/coleta/{{object.uf}}/centromemoria/update/">[ Atualizar ]</a></p>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
