{% extends 'coleta/base-coleta-2.html' %}
{% block title %}Rede CEDES - Intervenções{% endblock %}
{% block metadescription %}Política de gestão, publicização, monitoramento e avaliação da Rede CEDES{% endblock %}
{% block palavraschaves %}Rede CEDES, Esporte Recreativo, Lazer, Ministério do Esporte{% endblock %}
{% load static %}
{% block title-coleta %}LISTA DE INTERVENÇÕES{% endblock %}


{{% block content %}

<div class="col-lg-8">

{% for pesquisa in object_list %}

  <div class="card mb-3">
    <div class="card-block">
      <a href="/coleta/{{ centro }}/intervencao/{{ pesquisa.pk }}/update/"><h4 class="card-title">{{ pesquisa.coordenador }}</h4></a>
      <p>{{ pesquisa.nivel_governo }}</p>
      <a class="texto-pequeno" href="/coleta/{{ centro }}/intervencao/{{ pesquisa.pk }}/update/">[ Editar ]</a>
      <a class="texto-pequeno" href="/coleta/{{ centro }}/intervencao/{{ pesquisa.pk }}/delete/">[ Excluir ]</a>
    </div>
  </div>

{% empty %}

  <p>Não há intervenções cadastradas. Deseja <a href="/coleta/{{centro}}/intervencao/add/">adicionar</a> uma?</p>

{% endfor %}

</div>

{% endblock %}
