{% extends 'coleta/base-coleta-2.html' %}
{% block title %}Rede CEDES - Pesquisas{% endblock %}
{% block metadescription %}Política de gestão, publicização, monitoramento e avaliação da Rede CEDES{% endblock %}
{% block palavraschaves %}Rede CEDES, Esporte Recreativo, Lazer, Ministério do Esporte{% endblock %}
{% load static %}
{% block title-coleta %}LISTA DE PESQUISAS{% endblock %}


{% block content %}

    <div class="col-lg-8">

{% for pesquisa in object_list %}

    <div class="card mb-3">
      <div class="card-block">
          <a href="/<centro>/pesquisa/<pk>/update/"><h4 class="card-title">{{ pesquisa.nome }}</h4></a>
          <p>{{ pesquisa.linha_human_readable }}</p>
          <a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/pesquisa/{{ pesquisa.pk }}/update/">[ Editar ]</a>
          <a class="texto-pequeno" href="/coleta/{{ pesquisa.centro }}/pesquisa/{{ pesquisa.pk }}/delete/">[ Excluir ]</a>
      </div>
    </div>

      {% empty %}

              <li>No pesquisas yet.</li>

      {% endfor %}
    </div>

{% endblock %}
